---
import type { BlogPost } from "../models/BlogPost.astro";
import { SITE_IMAGE } from "../config";

export interface Props {
    post: BlogPost;
}

const { post } = Astro.props;
---

<a href={post.url} aria-label="Read blog post">
    <div
        class="h-full w-full flex flex-col shadow-sm rounded-xl border dark:border-slate-600 group transition ease-out delay-200 hover:-translate-y-1 hover:scale-105 hover:shadow-xl"
    >
        <img
            src={post.frontmatter.heroImage ?? SITE_IMAGE}
            alt={post.frontmatter.heroImageAlt}
            class="w-full h-auto rounded-t-xl"
        />
        <div
            class="flex flex-col gap-2 flex-1 bg-gray-50 dark:bg-zinc-900 rounded-b-xl p-1 md:p-2"
        >
            <div class="flex flex-row justify-between items-start gap-x-1">
                <div>
                    <h3 class="text-lg font-bold">
                        {post.frontmatter.title}
                    </h3>
                    <time
                        class="text-sm text-slate-400"
                        datetime={post.frontmatter.pubDate}
                        >{post.frontmatter.pubDate}</time
                    >
                    {
                        post.frontmatter.tags &&
                            post.frontmatter.tags.length > 0 && (
                                <div class="flex flex-row flex-wrap gap-1">
                                    {post.frontmatter.tags.map((tag) => (
                                        <span
                                            class:list={[
                                                tag.colorClass,
                                                "text-sm text-slate-100 p-1 rounded-xl",
                                            ]}
                                        >
                                            #{tag.name}
                                        </span>
                                    ))}
                                </div>
                            )
                    }
                </div>
                <div
                    class="bg-purple-600 whitespace-nowrap transition ease-out delay-200 group-hover:bg-cyan-500 text-slate-100 rounded-xl p-2"
                >
                    Read post <i class="las la-long-arrow-alt-right"></i>
                </div>
            </div>
            <p>
                {post.frontmatter.description}
            </p>
        </div>
    </div>
</a>
