---
import LayoutWithHeaderAndFooter from "./LayoutWithHeaderAndFooter.astro";
import { SITE_IMAGE } from "../config";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

export interface Props {
  content: CollectionEntry<'blog'>;
}

const {
  content: {
    data: {
      title,
      description,
      pubDate,
      updatedDate,
      image,
      tags,
    },
    body
  },
} = Astro.props;
---

<LayoutWithHeaderAndFooter
  title={title}
  description={description}
  image={image.src.src ?? SITE_IMAGE}
>
  <article
    class="p-2 mx-auto text-justify prose prose-zinc dark:prose-invert prose-img:rounded-xl prose-pre:w-[95vw] prose-pre:max-w-full"
    data-pagefind-body>
    {
      image && (
        <Image
          src={image.src}
          alt={image.alt}
          format="webp"
          class="w-full mb-2 object-contain"
        />
      )
    }
    <h1 class="mb-1">{title}</h1>
    <p class="m-0 text-sm">
      {
        pubDate && (
          <span>
            Published on <time datetime={pubDate.toISOString()}>{pubDate.toLocaleDateString()}</time>
          </span>
        )
      }
      {
        updatedDate && (
          <span>
            - Last updated on <time datetime={updatedDate.toISOString()}>{updatedDate.toLocaleDateString()}</time>
          </span>
        )
      }
    </p>
    {
      tags && tags.length > 0 && (
        <div class="flex flex-row flex-wrap gap-1 my-2">
          {tags.map((tag) => (
            <span
              class:list={[
                tag.colorClass,
                "text-sm text-slate-100 p-1 rounded-xl",
              ]}
            >
              #{tag.name}
            </span>
          ))}
        </div>
      )
    }
    <hr class="not-prose mt-2 mb-4" />
    <slot />
  </article>
</LayoutWithHeaderAndFooter>

<style is:global>
  div.expressive-code {
    /* takes screen width and remove .p-2 x2 from it */
    max-width: calc(100vw - (2*0.5rem));
  }
</style>
