---
import LayoutWithHeaderAndFooter from "./LayoutWithHeaderAndFooter.astro";
import { SITE_IMAGE } from "../config";

export interface Props {
    content: {
        title: string;
        description: string;
        pubDate?: string;
        updatedDate?: string;
        heroImage?: string;
        heroImageAlt?: string;
        tags?: [
            {
                name: string;
                colorClass: string;
            }
        ];
    };
}

const {
    content: {
        title,
        description,
        pubDate,
        updatedDate,
        heroImage,
        heroImageAlt,
        tags,
    },
} = Astro.props;
---

<LayoutWithHeaderAndFooter
    title={title}
    description={description}
    image={heroImage ?? SITE_IMAGE}
>
    <article
        class="p-2 mx-auto text-justify prose prose-zinc dark:prose-invert prose-img:rounded-xl prose-pre:w-[95vw] prose-pre:max-w-full"
    >
        {
            heroImage && (
                <img src={heroImage} alt={heroImageAlt} class="w-full mb-2" />
            )
        }
        <h1 class="not-prose mb-1">{title}</h1>
        <p class="not-prose m-0 text-sm">
            {
                pubDate && (
                    <span>
                        Published on <time>{pubDate}</time>
                    </span>
                )
            }
            {
                updatedDate && (
                    <span>
                        - Last updated on <time>{updatedDate}</time>
                    </span>
                )
            }
        </p>
        {
            tags && tags.length > 0 && (
                <div class="flex flex-row flex-wrap gap-1 my-2">
                    {tags.map((tag) => (
                        <span
                            class:list={[
                                tag.colorClass,
                                "text-sm text-slate-100 p-1 rounded-xl",
                            ]}
                        >
                            #{tag.name}
                        </span>
                    ))}
                </div>
            )
        }
        <hr class="not-prose mt-2 mb-4" />
        <slot />
    </article>
</LayoutWithHeaderAndFooter>
